<web-app>
	<welcome-file-list>
		<welcome-file>Login.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>insert</servlet-name>
		<servlet-class>com.task.StudentRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>insert</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>select</servlet-name>
		<servlet-class>com.task.StudentWelcome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>select</servlet-name>
		<url-pattern>/select</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminselect</servlet-name>
		<servlet-class>com.task.AdminWelcome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminselect</servlet-name>
		<url-pattern>/selectadmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>testprep</servlet-name>
		<servlet-class>com.task.TestSave</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>testprep</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Tdetails</servlet-name>
		<servlet-class>com.task.InsertTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tdetails</servlet-name>
		<url-pattern>/testdetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>tests</servlet-name>
		<servlet-class>com.task.ShowTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>tests</servlet-name>
		<url-pattern>/showtests</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatedetails</servlet-name>
		<servlet-class>com.task.UpdateTestDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatedetails</servlet-name>
		<url-pattern>/updatetestdetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>seequestions</servlet-name>
		<servlet-class>com.task.ShowQuestions</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>seequestions</servlet-name>
		<url-pattern>/showquestions</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteq</servlet-name>
		<servlet-class>com.task.DeleteQuestion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteq</servlet-name>
		<url-pattern>/deletequestion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>assess</servlet-name>
		<servlet-class>com.task.Assessments</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>assess</servlet-name>
		<url-pattern>/assessments</url-pattern>
	</servlet-mapping>
</web-app>